*{
    margin: 0;
    padding: 0;
    font-family: 'Pppins', sans-serif;
    box-sizing: border-box;
}
:root {
    --text-color: black;
    --background-color:#fff;
    --title-color:#000;

}
.dark-theme{
    --background-color: #000000;
    --text-color:#fff;
    --title-color:#fff;




}

body{

    background: var(--background-color);
    color: var(--text-color);
    transition: background 0.8s, color 0.8s;

    
    /*background-image: url("images/tech.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: var(--text-color);*/

}
/*
.header{
    width: 100%;
    min-height: 100vh;
    padding: 0 5%;
    position: relative;
    overflow: hidden;


}*/

/*
nav{
    display: flex;
    align-items: center;
    padding: 10px 0;

}*/
.logo {
    width: 100px;
    height: 100px;
    background: url("../images/logonew.jpeg");
  
    
}

/*
nav ul{

    width: 100%;
    text-align: right;
    list-style: none;
    margin-right: 50px;

}
nav ul li {
    display: inline-block;
    margin: 40px 45px;
}

nav ul li a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
}*/

nav{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-between;
    font-family: sans-serif;
    padding: 15px;
  
}

nav a {
    text-decoration: none ;
       
}
.list{
    display: flex;

    list-style: none;
    gap: 105px;

}
#toggler, label{
    display: none;
   
}

@media screen and (max-width:1000px){
    .menu{
        width:70%;
        max-height:0;
        overflow: hidden;
        background-color: #c6c6cf20;
        border-radius: 30px;
    }
    label{
        display: inline-flex;
    }
    #toggler:checked~.menu{
        max-height: 70%;
        
    }
    .list{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
} 

::view-transition-group
.toggle-btn{
    background-color: var(--background-color);
    border: rgb(190, 64, 236)  solid 2px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 35px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 10px;
}
.toggle-btn img {
    width: 20px;
    margin-left: 10px;
   
}
.content{
    margin: 5%;
    max-width: 500px;
    /*background-color:rgba(159, 155, 155, 0.565);*/

    
    padding: 50px;

}

/*

*/
header {
    padding: 20px;
}

.boxquiz{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
}
.app {
    background: #000000a1;
    border: rgb(236, 64, 236) solid 2px ;
    width: 90%;
    max-width: 600px;
    margin: 100x auto;
    border-radius: 10px;
    padding: 30px;
    color: #f1f1f1;
}

.app h1{
    font-size: 25px;
    color: #ffffff;
    font-weight: 600;
    border-bottom: 1px solid violet;
    padding-bottom: 30px;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color: #f8f8f8;
    font-size: 600;
}
.btn{
    background-color: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 2px solid violet;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover.btn:hover:not([disabled]){
    background: violet;
    color: #f1f1f1;
    border-radius: none;
}

.btn:disabled{
    cursor: no-drop;
}

#next-btn{
    background: violet;
    color: #ffff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;



}

.correct{
    background-color: rgb(44, 159, 44);
    border: none;
    color: white;
}
.incorrect {
    background-color: rgb(212, 13, 13);
    border: none;
    color: white;
}
.high-score {
    background-color: rgba(2, 245, 2, 0.192);
    padding: 20px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    display: flex;
    border: solid 20px rgb(15, 141, 6);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px;

}

.medium-score {
    background-color: rgba(192, 133, 22, 0.314);
    padding: 20px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    display: flex;
    border: solid 20px rgb(206, 134, 0);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px;

}

.low-score {
    background-color: rgba(239, 6, 6, 0.163);
    padding: 20px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    display: flex;
    border: solid 20px rgb(254, 0, 0);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px;

}
.checkbox{
    width: 1em;
    height: 1em;
}

.icons{
    font-size: 20px;
    color: var(--text-color);
  
   
}
.nav-p{
    font-size: small;
    margin: 5px;
    text-align: center;
    font-weight: normal;
    color: grey;
}

li{
    text-align: center;
    list-style: none;
}

video{

    width: 500px;
    height: 300px;
    border-top-left-radius: 100px;

}
.video{
    border-radius: 30px;
}
.quiz{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.contentt{
  
    width: 500px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f45b09;
    
    border-radius: 20px;
    margin: 10px;
    overflow: hidden;
}
.contentt::before{
    content: '';
    position: absolute;
    width: 500px;
    height: 700px;
    background-color: #b378fcd4;
    box-shadow: 0 0 20px rgba(218, 93, 26, 0.715);
    animation: animate 4s linear infinite;
}
.contentt::after{
    content: '';
    position: absolute;
    inset: 10px;
    background-color: var(--background-color);
    border-radius: 16px;
    font-family: 'Poppinds', sans-serif;
    color: var(--title-color);
    height: 9;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.content h1 {
    font-size: 80px;
    font-family: serif;
    color: var(--text-color);
    font-weight: 600;

}

.content h1 span {
    font-family: serif;
    font-weight: 400;
    font-style: italic;
}

.content a {
    background: #fc48ff;
    color: #fff;
    padding: 15px 70px;
    border-radius: 30px;
    cursor: pointer;
    display: inline-block;
    margin-top: 30px;
    text-align: none;
    text-decoration: none;
    font-weight: bold;
}

main{
    display: flex;
    flex-wrap: wrap;

  
    justify-content: space-around;
    align-items: center;
   
}
.cont{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    margin: 9%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;

   
}
.ring{
    width: 330px;
    height: 330px;
    border: 0px solid white;
    border-radius: 90%;
    position: absolute;
   
}
.ring:nth-child(1){
    border-bottom-width: 8px;
    border-color:  rgb(220, 170, 5);
    animation: rotate1 2s linear infinite;
}
.ring:nth-child(2) {
    border-right-width: 8px;
    border-color: rgb(0, 238, 251) ;
    animation: rotate2 2s linear infinite;
}
.ring:nth-child(3) {
    border-top-width: 8px;
    border-color: rgb(248, 121, 208);
    animation: rotate3 2s linear infinite;
}

.n{
    color: var(--title-color);
    
}
@keyframes rotate1{
    0%{
        transform: rotate(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100%{
        transform: rotate(35deg) rotateY(-45deg) rotateZ(360deg);
        
    }
}
@keyframes rotate2 {
    0% {
        transform: rotate(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        transform: rotate(50deg) rotateY(-10deg) rotateZ(360deg);

    }
}
@keyframes rotate3 {
    0% {
        transform: rotate(10deg) rotateY(130deg) rotateZ(0deg);
    }

    100% {
        transform: rotate(10deg) rotateY(130deg) rotateZ(360deg);

    }
}
footer{
   
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    height: 200px;
   
    color: var(--text-color);
    font-weight: 100;
    margin: 1%;
    border-radius: 20px;
  
    align-content: center;
   
}
footer ul{
    text-decoration: none;
}
footer a{
    text-decoration: none;
}
footer ul{
    display: flex;
    flex-direction: column;
}
.left{
    text-align: left;
}
.middle{
    text-align: center;
    align-items: center;

}
footer a{
    text-decoration: none;
}